<font color = green >

## Home Task 

</font>

The Task is to extract relevant infromation from the messy medical data using regex.

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

1) Extract the date strings
Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

2) Normalize the extracted dates considering the following rules:  
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).

3) Sort records in ascending chronological order accoring.

In [2]:
import pandas as pd
import numpy as np

docs = []
with open('dates.txt') as file:
    for line in file:
        docs.append(line)

df = pd.Series(docs)
df.head(10)
# Note: This snippet is extracted just for high level review. You may read the file with the help of pandas or whatever convenient tool

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

<font color = blue >

### Expected Output

</font>

<table align= 'left'>
    <tr><td></td><td> res</td><td>index</td></tr>
    <tr><td>0</td><td> 1971-04-10</td><td>9</td></tr>    
    <tr><td>1</td><td>1971-05-18</td><td>84</td></tr>    
    <tr><td>2</td><td>1971-07-08</td><td>2</td></tr>    
    <tr><td>3</td><td>1971-07-11</td><td>53</td></tr>    
    <tr><td>4</td><td>1971-09-12</td><td>28</td></tr>    
    <tr><td>.</td></tr>    
    <tr><td>.</td></tr>    
    <tr><td>.</td></tr>    
    <tr><td>495 </td><td>2016-05-01</td><td>    427</td></tr>    
    <tr><td>496</td><td> 2016-05-30  </td><td>  141</td></tr>    
    <tr><td>497</td><td> 2016-10-13  </td><td>  186</td></tr>    
    <tr><td>498</td><td> 2016-10-19   </td><td> 161</td></tr>    
    <tr><td>499 </td><td>2016-11-01 </td><td>   413</td></tr>    
</table>

In [4]:
pattern1 = '(\d{1,2}[/-]\d{1,2}[/-]\d{2,4})'
pattern2 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{1,2}[,]{0,1}[+\s]\d{4})'
pattern3 = '(\d{1,2}[+\s](?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{4})'
pattern4 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{4})'
pattern5 = '(\d{1,2}[/-][1|2]\d{3})'
pattern6 = '([1|2]\d{3})'
full_pattern = '(%s|%s|%s|%s|%s|%s)' %(pattern1, pattern2, pattern3, pattern4, pattern5, pattern6)
dates = df.str.extract(full_pattern)
dates = dates.iloc[:,0].str.replace('Janaury', 'January').str.replace('Decemeber', 'December')
dates = pd.to_datetime(dates)
df_dates = pd.DataFrame({'res': dates, 'index': df.index})
df_dates['res'] = np.where(df_dates['res'].dt.year > 2022, df_dates['res'] - pd.offsets.DateOffset(years=100), df_dates['res'])
df_dates = df_dates.sort_values(by='res', kind='mergesort')
df_dates.reset_index(drop=True, inplace=True)
df_dates

C:\Users\Dima\AppData\Local\Temp\ipykernel_16640\201812186.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dates = pd.to_datetime(dates)

           res  index
0   1971-04-10      9
1   1971-05-18     84
2   1971-07-08      2
3   1971-07-11     53
4   1971-09-12     28
..         ...    ...
495 2016-05-01    427
496 2016-05-30    141
497 2016-10-13    186
498 2016-10-19    161
499 2016-11-01    413

[500 rows x 2 columns]