In [16]:
import pandas as pd
import numpy as np

df = pd.read_csv("Car_Insurance_Claim.csv", index_col="Unnamed: 0")
#print(df.info())
df["RACE"].nunique()

3

In [14]:

df1 = df[df["OUTCOME"]=="1.0"]
df1

,ID,AGE,GENDER,RACE,DRIVING_EXPERIENCE,EDUCATION,INCOME,CREDIT_SCORE,VEHICLE_OWNERSHIP,VEHICLE_YEAR,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,VEHICLE_TYPE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
1,750365,16-25,male,majority,0-9y,none,poverty,0.3577571170184627,0.0,before 2015,0.0,0.0,10238,16000.0,sedan,0,0,0,1.0
4,731664,26-39,male,majority,10-19y,none,working class,0.3883658881572184,1.0,before 2015,0.0,0.0,32765.0,12000.0,sedan,2,0,1,1.0
7,461006,26-39,female,majority,0-9y,university,working class,0.468689297434465,0.0,after 2015,0.0,1.0,10238,14000.0,sedan,0,0,0,1.0
9,445911,40-64,female,majority,0-9y,NaN,upper class,0.5615310319383646,1.0,before 2015,0.0,1.0,32765,11000.0,sedan,0,0,0,1.0
17,24851,16-25,male,majority,0-9y,none,poverty,NaN,0.0,before 2015,1.0,0.0,32765,12000.0,sedan,0,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9984,443302,26-39,female,majority,10-19y,high school,middle class,0.6797949082598349,0.0,before 2015,0.0,0.0,32765,15000.0,sedan,1,0,0,1.0
9987,735333,40-64,male,majority,20-29y,high school,working class,0.2948824952892714,0.0,before 2015,0.0,0.0,32765,10000.0,sedan,4,1,4,1.0
9988,479789,26-39,male,majority,10-19y,high school,poverty,NaN,0.0,before 2015,0.0,0.0,10238,NaN,sedan,1,0,2,1.0
9990,302403,NaN,female,majority,0-9y,high school,working class,0.502119705029764,1.0,before 2015,0.0,1.0,32765,10000.0,sedan,0,0,0,1.0
9998,903459,26-39,female,majority,10-19y,high school,poverty,0.3641847847297929,0.0,before 2015,0.0,1.0,10238,13000.0,sedan,2,0,1,1.0